@font-face {
  font-family: "iconfont"; /* Project id 3868496 */
  src: url('iconfont.woff2?t=1675796696531') format('woff2'),
       url('iconfont.woff?t=1675796696531') format('woff'),
       url('iconfont.ttf?t=1675796696531') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-checkstand:before {
  content: "\e770";
}

.icon-customer:before {
  content: "\e6db";
}

.icon-shanghupiliangruzhu:before {
  content: "\e62b";
}

.icon-Similarproducts:before {
  content: "\e766";
}

.icon-yonghuguanli_huaban:before {
  content: "\e62d";
}

.icon-admin-line:before {
  content: "\ec92";
}

.icon-bx-category-alt:before {
  content: "\e631";
}

.icon-jifenshangcheng:before {
  content: "\e60b";
}

.icon-shouye:before {
  content: "\e618";
}

.icon-gupiao:before {
  content: "\e6ad";
}

